<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aurawallpapers.app">

    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />

    <application
        android:label="Aura Wallpapers"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.VideoLiveWallpaperService"
            android:label="Aura Video Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="false">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/video_wallpaper" />
        </service>

        <service
            android:name=".service.ParallaxLiveWallpaperService"
            android:label="Aura Motion Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER"
            android:exported="false">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/parallax_wallpaper" />
        </service>
    </application>
</manifest>
